@tailwind base;
@tailwind components;
@tailwind utilities;
body,html{
  font-family: avenir;
}
.background-image-div {
  background-image: url('/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.pricing{
  background-image: url('/pricing_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.button:hover .icon {
  filter: brightness(0) invert(1);
}

